.container {
  background-color: rgb(222, 222, 222);

  width: 100%;
  height: 50vh;
  display: flex;
  align-items: center;

  justify-content: center;

  color: rgba(10, 10, 10, 0.853);

  font-weight: 900;
z-index: -1;
  position: relative;

  overflow: hidden;
}

.container .retangle{
  background-color: #0f172a;
  width: 110%;
  height: 40vh;
  position: absolute;

  top: -15em;
  transform: rotateZ(4deg);

  z-index: 2;

  box-shadow: 2px 2px 12px #0c1325aa;
}
